/* font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.company-color {
    color: #359084 !important ;
}

nav.navbar {
    background-color: rgba(255, 255, 255, 0.9) !important; 
}

.nav-item {
    color: #151515 ;
}

.navbar-nav .nav-item .nav-link {
    color: #151515;
    font-size: 20px;
    font-weight: 400;
}
.navbar-nav .nav-item .nav-link.active {
    font-weight: 600;
}

.btn-offcanvas {
    border: none;
}
.offcanvas-header img {
    height: 64px;
}
.offcanvas-body>.nav>.nav-item  {
    border-bottom: 1px solid #e7e7e7 ;
}
.offcanvas-body>.nav>.nav-item:last-child  {
    border-bottom: none ;
}
.offcanvas-body>.nav>.nav-item>.nav-link {
    color: inherit;
    font-size: 18px;
    line-height: 3;
}

.carousel-caption {
    bottom: 22rem;
}

.page-title h1 {
    font-size: 48px;
    font-weight: 900;
}
.page-title h3 {
    font-size: 28px;
    font-weight: 400;
}

.btn-circle-container {
    background-color: #359084;
    border-radius: 10px;
    background-image: url(/images/background-btn-container.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;

}

.circle-btn {
    background-color: #267C71;
    padding: 16px;
    border-radius: 32px;
    color: white;
}

.notice-section {
    /* background-color:#10224B; */
    background-image:linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(to right, #10224B 50%, #fff 50%); */
}
.notice-section .container .notice-section-left {
    /* border-radius: 0 10px 0px 0; */
    background-color:#10224B
}
.notice-section .container .notice-section-left div {
    color: white;
}
.notice-section .container .notice-section-right {
    background-image:linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
}
.notice-list {
    background-color: white;
}
.notice-list .notice-list-text {
    border-radius: 0 10px 0px 0;
}
.notice-list .notice-list-btn {
    background-color: #359084;
    color: white;
}

.online-message-section {
    background-color: #359084;
    border-radius: 5px;
    background-image: url(/images/background-online_inquiry.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

footer {
    background-color: #E2E2E2;
    padding: 40px 80px 80px 80px ;
}

.contact div span {
    background-color: #152e57;
    color: white;
    border-radius: 24px;
    min-width: 40px;
    font-size: 12px;
    padding: 2px 8px;
    text-align: center;
}

.banner-top {
    width: 100%;
    height: 600px;
    padding-bottom: 13em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.banner-top.business-introduction {
    background-image: url(/images/top-image_businessIntroduction.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-navigasi {
    height: 81px ;
    border-bottom: 1px solid #E2E2E2;
    
}
.section-navigasi .vr {
    height: 100px;
}
.section-navigasi .nav-item .nav-link {
    padding:   0 70px;
    color: #515151;
    font-size: 20px;
    font-weight: 400;
}
.section-navigasi .nav-item {
    border-right: 1px solid #B1B1B1;
}
.section-navigasi .nav-item:last-child {
    border-right : none;
}

main.container-konten {
    margin-top: 78px;
}
main.container-konten .tittle-konten h3 {
    margin-top: 26px;
}
main.container-konten .tittle-konten h5 {
    margin-top: 26px;
}

main.container-konten .green-kontener {
    margin-top: 97px;
    background-color: #359084;
    background-image: url(/images/background-businessIntroduction_green-box01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 35px 0;
    border-radius: 5px;
    color: white;
    
}
#reoperationRate-container .green-kontener.small {
    margin-top: 33px;
    width: 100%;
    background-color: #359084;
    background-image: url(/images/background-businessIntroduction_green-box02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 35px 0;
    border-radius: 5px;
    color: white;
    
}

table.patient-table p {
    text-align: end;
    caption-side: top;
}

#reoperationRate-container {
    width: 100%;
    height: 100%;
}
#reoperationRate-container h2 {
    font-size: 40px;
}
#reoperationRate-container #item-cek {
    margin-top: 26px;
}
#reoperationRate-container #item-cek div  {
    margin-right: 16px;
}
#reoperationRate-container ul {
    font-size: 20px; padding-left: 88px; margin-top: 18px;
}

/* =============================================================================================== 
     Responsive Section
=============================================================================================== */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .notice-section {
        background-color:white;
        background-image: none;
    }
    .notice-section .container .notice-section-right {
        background-image: none ;
        background-color: white;
    }
    .page-title h1 {
        font-size: 38px;
        font-weight: 900;
    }
    .page-title h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .notice-list .notice-list-btn {
        border-radius: 0px 0px 12px 12px;
    }
    .btn-circle-container {
        background-image: url(/images/background-btn-group-overlay_mobile.png);
    }
    .carousel-caption {
        bottom: 4rem;
    }
    .nav-item {
        border-bottom: 1px solid #e0e0e0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-item:last-child {
        border-bottom: none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .notice-section {
        background-color:white;
        background-image: none;
    }
    .notice-section .container .notice-section-right {
        background-image: none ;
        background-color: white;
    }
    .notice-list .notice-list-btn {
        border-radius: 0px 0px 12px 12px;
    }

 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .notice-section {
        background-image: linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
    }
    .notice-section .container .notice-section-right {
        background-image:linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    

    .notice-list .notice-list-btn {
        border-radius: 0px 12px 12px 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { }