/* font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden-navbar{
    visibility: hidden;
 }

.sticky{
    position: fixed;
    top: 0;
}

.company-color {
    color: #359084 !important;
}

.page-tittle.size {
    text-align: center;
    font-size: 48px !important;
    font-weight: 700;
}

.page-sub-tittle.size {
    text-align: center;
    font-size: 20px !important;
    font-weight: 500;
}

.dark-greyy-bg {
    background-color: #F7F8F9;
}

nav.navbar {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

nav.navbar.index {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.navbar-nav.index .nav-item a.nav-link {
    color: #fff;
}
.navbar-nav .nav-item a.nav-link {
    color: #151515;
}

.navbar-nav li.nav-item:not(:first-child) {
    margin-left: 120px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 20px;
    font-weight: 400;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: 800;
}

.btn-offcanvas {
    border: none;
}

.offcanvas-header img {
    height: 58px;
}

div#offcanvasRight {
    background-color: rgba(255, 255, 255, 0.89);
}

.offcanvas-body>.nav>.nav-item {
    border-bottom: 1px solid #e7e7e7;
}

.offcanvas-body>.nav>.nav-item:last-child {
    border-bottom: none;
}

.offcanvas-body>.nav>.nav-item>.nav-link {
    color: inherit;
    font-size: 18px;
    line-height: 3;
}

.carousel-control-next-icon {
    background-image: url('/images/icon-carouselControl-next.svg');
    padding: 40px;
}

.carousel-control-prev-icon {
    background-image: url('/images/icon-carouselControl-prev.svg');
    padding: 40px;
}

div#myCarousel>img#scroll-icon {
    z-index: 9999999;
    position: absolute;
    bottom: 50px;
    left: 48.6%;
    width: 52px;
}

.carousel-caption {
    bottom: 22rem;
}

.page-title h1 {
    font-size: 48px;
    font-weight: 900;
}

.page-title h3 {
    font-size: 28px;
    font-weight: 400;
}

.btn-circle-container {
    background-color: #359084;
    border-radius: 10px;
    background-image: url(/images/background-btn-container.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;

}

.circle-btn {
    background-color: #267C71;
    padding: 16px;
    border-radius: 32px;
    color: white;
}

.notice-section {
    /* background-color:#10224B; */
    background-image: linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(to right, #10224B 50%, #fff 50%); */
}

.notice-section .container .notice-section-left {
    /* border-radius: 0 10px 0px 0; */
    background-color: #10224B
}

.notice-section .container .notice-section-left div {
    color: white;
}

.notice-section .container .notice-section-right {
    background-image: linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
}

.row.online-message-section>.col>a,
.row.online-message-section>.col>a:visited,
.row.online-message-section>.col>a:active {
    color: white !important;
}

.notice-list {
    background-color: white;
}

.notice-list .notice-list-text {
    border-radius: 0 10px 0px 0;
}

.notice-list .notice-list-btn {
    background-color: #359084;
    color: white;
}

.online-message-section {
    background-color: #359084;
    border-radius: 5px;
    background-image: url(/images/background-online_inquiry.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

footer {
    background-color: #E2E2E2;
    padding: 40px 80px 80px 80px;
}

.contact div span {
    background-color: #152e57;
    color: white;
    border-radius: 24px;
    min-width: 40px;
    font-size: 12px;
    padding: 2px 8px;
    text-align: center;
}

.banner-top {
    width: 100%;
    height: 600px;
    padding-bottom: 13em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.banner-top.business-introduction {
    background-image: url(/images/top-image_businessIntroduction.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-navigasi {
    padding: 20px 0;
    border-bottom: 1px solid #E2E2E2;

}

.section-navigasi .vr {
    height: 100px;
}

.section-navigasi .nav-item .nav-link {
    padding: 0 70px;
    color: #515151;
    font-size: 20px;
    font-weight: 400;
}

.section-navigasi .nav-item {
    border-right: 1px solid #B1B1B1;
}

.section-navigasi .nav-item:last-child {
    border-right: none;
}

main.container-konten {
    margin-top: 78px;
}

main.container-konten .tittle-konten h3 {
    margin-top: 26px;
}

main.container-konten .tittle-konten h5 {
    margin-top: 26px;
}

main.container-konten .green-kontener {
    margin-top: 97px;
    background-color: #359084;
    background-image: url(/images/background-businessIntroduction_green-box01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 35px 0;
    border-radius: 5px;
    color: white;

}

#reoperationRate-container .green-kontener.small {
    margin-top: 33px;
    width: 100%;
    background-color: #359084;
    background-image: url(/images/background-businessIntroduction_green-box02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 35px 0;
    border-radius: 5px;
    color: white;

}

table.patient-table p {
    text-align: end;
    caption-side: top;
}

#reoperationRate-container {
    width: 100%;
    height: 100%;
}

#reoperationRate-container h2 {
    font-size: 40px;
}

#reoperationRate-container #item-cek {
    margin-top: 26px;
}

#reoperationRate-container #item-cek div {
    margin-right: 16px;
}

#reoperationRate-container ul {
    font-size: 20px;
    padding-left: 88px;
    margin-top: 18px;
}

.implantReactivator-left>div:first-child {
    border-radius: 10px;
    background: #EFF8FF;
    padding: 34px 56px;
}

.implantReactivator-left>div:nth-child(2) {
    border-radius: 10px;
    background: #35908414;
    padding: 34px 56px;
    height: 504px;
    max-height: 504px;
    overflow-y: hidden;
    line-height: 2.37 !important;
}

.implantReactivator-center>div:nth-child(1) {
    border-radius: 10px;
    background: #EFF8FF;
    padding: 34px 56px;
}

.implantReactivator-center>div:nth-child(2) {
    border-radius: 10px;
    background: #10224B08;
    padding: 24px;
}

.implantReactivator-center>div:nth-child(2)>div:nth-child(2) {
    border-radius: 10px;
    background: #10224B;
    color: white;
    padding: 17px 0px;
}

.implantReactivator-center>div:nth-child(2)>.row>div>div {
    border-radius: 10px;
    background-color: #E2EBFF;
    padding: 20px 8px 8px 8px;
}

.implantReactivator-center>div:nth-child(2)>.row>div>div>div {
    border-radius: 10px;
    background-color: white;
    padding: 20px 0px;
}

.implantReactivator-right>div>div:nth-child(1) {
    border-radius: 10px;
    background: #D0EFEB;
    padding: 34px 56px;
}

.implantReactivator-right>div>div:nth-child(2) {
    border-radius: 10px;
    background: #EFF7F6;
    padding: 34px 56px;
}

.implantReactivator-right>div>div:nth-child(3) {
    border-radius: 10px;
    background: #EFF7F6;
    padding: 34px 56px;
}

.processing-flow-item {
    width: 100%;
    height: 170px;
    background-color: #E2EBFF03;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #EDEDED;
    padding: 11px 14px;
}

.processing-flow-item>div:nth-child(1) {
    background-color: #E4E4E4;
    border-radius: 5px;
    padding: 19px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.section-way-come .table-address th,
.section-way-come .table-address td {
    padding: 33px;
    font-size: 20px;
}

.bottom-introduction > .col-md-5 > div {
    border: 1px solid #ECECEC;
    padding: 0;
    border-radius: 12px;
    height: 100%;
}




/* =============================================================================================== 
     Responsive Section
=============================================================================================== */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .notice-section {
        background-color: white;
        background-image: none;
    }

    .notice-section .container .notice-section-right {
        background-image: none;
        background-color: white;
    }

    .page-title h1 {
        font-size: 38px;
        font-weight: 900;
    }

    .page-title h3 {
        font-size: 20px;
        font-weight: 400;
    }

    .notice-list .notice-list-btn {
        border-radius: 0px 0px 12px 12px;
    }

    .btn-circle-container {
        background-image: url(/images/background-btn-group-overlay_mobile.png);
    }

    .carousel-caption {
        bottom: 6rem;
    }

    .carousel-control-next-icon {
        padding: 20px;
    }

    .carousel-control-prev-icon {
        padding: 20px;
    }

    div#myCarousel>img#scroll-icon {
        left: 44%;
    }

    nav.navbar.index {
        background-color: rgba(255, 255, 255, 0.3) !important;
    }

    #navbarTop .navbar-nav .nav-item  {
        border-bottom: 1px solid #e0e0e0;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .offcanvas-body .nav .nav-item {
        border-bottom: 1px solid #e0e0e0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .offcanvas-body .nav .nav-item:last-child {
        border-bottom: none;
    }

    .navbar-nav li.nav-item:not(:first-child) {
        margin-left: 0;
    }
    .section-navigasi .nav-item {
        border-right: none;
        padding: 18px 0;
    }
    .section-header img {
        height: 35vh;
    }
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .notice-section {
        background-color: white;
        background-image: none;
    }

    .notice-section .container .notice-section-right {
        background-image: none;
        background-color: white;
    }

    .notice-list .notice-list-btn {
        border-radius: 0px 0px 12px 12px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .notice-section {
        background-image: linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
    }

    .notice-section .container .notice-section-right {
        background-image: linear-gradient(to right, #10224B 50%, #fff 50%), url(/images/background-notice.jpg);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .notice-list .notice-list-btn {
        border-radius: 0px 12px 12px 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}